body{
    background-color:black;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#display{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.number{
    background-color: cadetblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.operator,
#equals{
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    position: relative;
    top: 100px;
    padding: 4px;
    margin: auto;
    width: 200px;
    height: 300px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "display display display display"
        "display display display display"
        "AC AC divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
    grid-gap: 2px; 
}

#display{
    grid-area: display;
    background-color: gray;
}
#zero{
    grid-area: zero;
}
#one{
    grid-area: one;
}
#two{
    grid-area: two;
}
#three{
    grid-area: three;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area: six;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}

#add{
    grid-area: add;
}
#subtract{
    grid-area: subtract;
}
#divide{
    grid-area: divide;
}
#multiply{
    grid-area: multiply;
}
#equals{
    grid-area: equals;
}
#decimal{
    grid-area: decimal;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
#clear{
    grid-area: AC;
}

/*button animation*/
.pressed{
    transform: scale(0.96, 0.96);
}